@import '../../scss/utilities/variables';

.upload-file-container {
  display: flex;
  flex-flow: row nowrap;
  height: 50rem;
  width: 65.6rem;
  .upload-file-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    .upload-logo {
      display: inline-block;
      height: 11.1rem;
      transform: translateY(-2.5rem);
      width: 11.1rem;
    }
    .upload-instructions {
      font-size: 1.8rem;
      font-weight: bold;
      opacity: .35;
    }
    .upload-file-manually {
      align-items: center;
      background-color: #3483E0;
      border-radius: 3rem;
      color: white;
      cursor: pointer;
      display: flex;
      font-size: 1.8rem;
      font-weight: bold;
      flex-direction: column;
      height: 4.7rem;
      justify-content: center;
      margin-top: 1.5rem;
      text-transform: uppercase;
      width: 16.5rem;
      label {
        cursor: pointer;
      }
    }
    &.dragging {
      opacity: .3;
    }
  }
  .upload-file-list {
    background-color: rgba(52, 132, 224, 0.203);
    border-top-right-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem;
    display: flex;
    flex-flow: column nowrap;
    padding: 6rem 2.5rem;
    width: 50%;
    .file-element {
      display: flex;
      justify-content: space-between;
      .left {
        .progress-icon {
          display: inline-block;
          height: 2.5rem;
          transform: translate(-.7rem, .7rem);
          width: 2.5rem;
        }
        .file-name {
          font-size: 1.6rem;
          font-weight: bold;
        }
      }
      .right {
        .download-icon {
          cursor: pointer;
          display: inline-block;
          height: 2rem;
          transform: translate(-2rem, .9rem);
          width: 2rem;
        }
        .delete-icon {
          cursor: pointer;
          display: inline-block;
          height: 1.8rem;
          transform: translate(-.7rem, .7rem);
          width: 1.7rem;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-desktop-1080p) {
  .upload-file-container {
    margin-top: 0;
    height: 38rem;
    width: 57.6rem;
    .upload-file-section {
      .upload-logo {
        height: 8rem;
        width: 8rem;
      }
      .upload-instructions {
        font-size: 1.4rem;
      }
      .upload-file-manually {
        font-size: 1.4rem;
        height: 3.7rem;
        width: 13.5rem;
        label {
          cursor: pointer;
        }
      }
    }
    .upload-file-list {
      padding: 4rem 3rem;
      .file-element {
        .left {
          .progress-icon {
            height: 2rem;
            transform: translate(-.7rem, .5rem);
            width: 2rem;
          }
          .file-name {
            font-size: 1.5rem;
          }
        }
        .right {
          .download-icon {
            height: 1.5rem;
            transform: translate(-2rem, .8rem);
            width: 1.5rem;
          }
          .delete-icon {
            height: 1.4rem;
            transform: translate(-.7rem, .6rem);
            width: 1.3rem;
          }
        }
      }
    }
  }
}