@import '../../scss/utilities/variables';

.input-boder-bottom {
  width: inherit;
  .dollar-sign {
    display: inline-block;
    font-size: 1.4rem;
    margin-top: .1rem;
  }
  .input-personalized {
    background-color: white;
    border: none;
    border-bottom: .1rem solid black;
    color: $gray;
    font-size: 1.4rem;
    font-weight: 500;
    height: 2.3rem;
    padding-left: .3rem;
    width: 85%;
    &::placeholder {
      color: #4D4F5C;
      font-size: 2rem;
      margin-left: 10px;
    }
    &::content {
      color: #4D4F5C;
      font-size: 2rem;
      margin-left: 10px;
    }
  }
}
/* Delete Arrows */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}