.admin-layout-component {
  display: flex;
  padding: 2rem;
  .sidebar-wrapper {
    width: fit-content;
    z-index: -1;
  }
  .admin-layout-container {
    background-color: white;
    border-radius: 1.2rem;
    box-shadow: 1rem 0 5rem 0 rgba(61, 110, 146, 0.2);
    margin: 0 auto;
    margin-left: -1.5rem;
    min-width: 115rem;
    width: calc(100% - 8.5rem);
    z-index: 1;
  }
  .section-title {
    font-size: 1.2rem;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: .5rem;
    text-transform: uppercase;

    &.back-text {
      margin: .9rem;
    }
  }
  .section-sub-title {
    font-size: 1.3rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: .5rem;
  }
  .module-title {
    font-size: 5rem;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-top: -2rem;
    color: #000000;
  }
  .module-sub-title {
    font-size: 1.6rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin-bottom: 2rem;
    color: #000000;
  }
}