@import './variables';
.d-flex {
  display: flex;
}
.h-center {
  justify-content: center;
}
.h-space-between {
  justify-content: space-between;
}
.h-space-around {
  justify-content: space-around;
}
.h-end {
  justify-content: flex-end;
}
.v-center {
  align-items: center;
}
.hidden {
  visibility: hidden;
}
.f-bold {
  font-weight: 600;
}
.blue-text {
  color: $blue;
}
.f-column {
  flex-direction: column;
}
.p-relative {
  position: relative;
}