/*
 Color
*/
$blue: #3483E0;
$green: #53e198;
$red: #fb7a6a;
$gray: #cccccc;

/*
 Screen Size
*/

$screen-desktop-min: 901px;
$screen-mobile-max: 900px;

/*
 Fonts
*/

$weight-extra-light: 200;
$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;
$weight-extra-bold: 700;
$weight-black: 700;

/*
 Hover
*/
$hover-opacity: 0.7;

/*
 Grid
*/
$gutter-horizontal: 2.2rem;
$gutter-vertical: 4rem;
