@import '../../scss/utilities/variables';

.sells-wrapper {
  display: flex;
  flex-direction: column;
  .header {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    height: inherit;
    justify-content: space-evenly;
    padding: 8rem 12rem 4.4rem 12rem;
    width: 100%;
    .form-actions {
      height: 5rem;
      margin-top: 1.5rem;
      position: relative;
      width: inherit;
      .form {
        align-items: flex-start;
        display: flex;
        flex-flow: nowrap;
        justify-content: space-around;
        left: 0;
        position: absolute;
        width: 50%;
        .check-box-container {
          margin-top: 1.3rem;
        }
      }
      .actions {
        display: flex;
        flex-flow: nowrap;
        justify-content: space-around;
        position: absolute;
        right: 0;
        width: 50%;
        .button-personalized {
          height: 5rem;
          font-size: 1.6rem;
          letter-spacing: .1rem;
          width: 20rem;
        }
      }
    }
  }
  .content {
    align-items: center;
    box-shadow: 1rem 0 5rem 0 rgba(52, 131, 224, 0.2);
    display: flex;
    height: inherit;
    justify-content: center;
    margin: 0 12rem;
    padding: 3rem 5.4rem 6rem 5.4rem;
    width: auto;
  }
}

@media (max-width: $breakpoint-desktop-1080p) {
  .sells-wrapper {
    .header {
      padding: 4rem 10rem 1.5rem 11rem;
      .form-actions {
        .form {
          width: 60%;
        }
        .actions {
          width: 40%;
          .button-personalized {
            height: 4.5rem;
            font-size: 1.4rem;
            letter-spacing: .1rem;
            width: 18rem;
          }
        }
      }
    }
    .content {
      margin: 0 10rem 0 11.5rem;
      padding: 3rem 5.4rem 4.6rem 5.4rem;
    }
  }
}