@import '../../../scss/utilities/variables';

.side-bar-container {
  background-color: $blue;
  border-radius: 1.2rem;
  box-shadow: 1rem 0 5rem 0 rgba(61, 110, 146, 0.2);
  height: 97%;
  min-height: 97vh;
  position: relative;
  width: 10rem;
  z-index: -1;
}