@keyframes from-hidden {
  99% { visibility: hidden; }
  100% { visibility: visible; }
}
.side-bar-container {
  position: relative;
  height: 100%;
  min-height: 100vh;
  margin-right: 4rem;
  box-shadow: 1rem 0 5rem 0 rgba(61, 110, 146, 0.2);
  width: 10rem;
  transition: width .3s ease-in;
  &:hover {
    width: 23rem;
    transition: width .3s ease-out;
    .title {
      animation: from-hidden .15s;
      animation-fill-mode: forwards;
    }
  }
  .wrapper-button {
    display: inline-flex;
    align-items: center;
    border: none;
    background: none;
    outline: none;
    padding: 0;
  }
  .side-bar-header {
    padding: 2.8rem 0 2.8rem 3rem;
    box-shadow: 10px 0 50px 0 rgba(61, 110, 146, 0.1);

    img {
      width: 4.4rem;
      height: 4.8rem;
    }
  }
  .selector {
    width: .6rem;
    height: 5rem;
    background-color: transparent;
    &.active {
      background-color: #2966ff;
    }
  }
  .item-container {
    height: 5rem;
    position: relative;
    margin-top: 2rem;
    margin-left: 1.8rem;
    display: inline-flex;
    .icon {
      img {
        width: 5.3rem;
        height: 3.3rem;
      }
    }
    @keyframes example2 {
      0%   { 
      transform: translateX(200%); 		
      }
      100% { 
      transform: translateX(0%); 
      }
     }
    .title {
      font-size: 1rem;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: .2rem;
      color: #abd6f9;
      text-transform: uppercase;
      margin-top: 1.2rem;
      margin-left: 1.5rem;
      visibility: hidden;

      &:hover {
        color: #7baeff;
      }
      &.active {
        color: #2966ff;
      }
      span {
        color: transparent;
      }
    }
  }
}