@import '../../scss/utilities/variables';

.table {
  width: -webkit-fill-available;
  height: inherit;
  border-spacing: 0 15px;
  border-collapse: separate;
  position: relative;
  .table-header-wrapper {
    .table-header {
      .header-element {
        border: 0;
        font-size: 2rem;
        font-weight: 500;
        text-align: left;
        text-transform: uppercase;
      }
    }
  }
  .table-body-wrapper {
    z-index: 100;
    .row {
      height: 5rem;
      &.green {
        background-color: $green;
      }
      &.red {
        background-color: $red;
      }
      .row-element {
        border: 0;
        font-size: 1.8rem;
        font-weight: 400;
        text-transform: capitalize;
        &.first-element {
          padding-left: 3rem;
        }
      }
    }
  }
  tr {
    cursor: pointer;
    td:first-child { 
      border-top-left-radius: 3rem; 
      border-bottom-left-radius: 3rem; 
    }
    td:last-child { 
      border-top-right-radius: 3rem; 
      border-bottom-right-radius: 3rem;
    }
  } 
  .pagination-wrapper {
    bottom: -6.2rem;
    position: absolute;
    right: 0;
    width: max-content;
    z-index: 10;
    .square-fill {
      &.pagination {
        ul {
          a {
            border-radius: 2rem;
            font-size: 1.4rem;
            &:first-of-type, &:last-of-type {
              background-color: $blue;
            }
          }
          .is-active {
            background-color: $blue;
            color: #fff;
            font-size: 1.4rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}